@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
$bg: #F6F7FB;
$teal: #3fc0c9;
$font: #33363F;
$subtitleGray: #626262;
$purple: #6F6DD5;
$error: #e11212;
$success: #10bb7c;

$fontFamily: 'Inter',
    sans-serif;

html,
body {
    margin: 0;
    background-color: $bg;
    color: $font;
    font-family: $fontFamily;
}

* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #9e9e9e #ffffff;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.title {
    font-weight: 800;

    &--40 {
        font-size: 40px;
    }
}

.btn {
    display: flex;
    text-align: center;
    padding: 12px 32px;
    width: fit-content;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 24px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    gap: 10px;

    &--teal {
        background: linear-gradient(95.19deg, #95D4A7 -28.83%, #95CCD4 119.17%);
        font-family: $fontFamily;
        font-size: 20px;
        font-weight: 600;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.card {
    width: calc(100% / 4 - 23px);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.109);
    cursor: pointer;
    text-decoration: none;
    color: $font;


    &__content {
        padding: 20px;
        margin-top: -4px;
        position: relative;
        z-index: 5;
        border-radius: 0px 0 10px 10px;
        background-color: #fff;
    }

    &__classifications {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__genre {
        font-size: 14px;
        padding: 5px 10px;

        border-radius: 5px;
    }

    &__info {
        display: flex;
        margin-bottom: 9px;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    &__title {
        margin-bottom: 14px;
    }



}

@media(max-width:1200px) {
    .card {
        width: calc(100% / 3 - 20px);
    }
}

@media(max-width:900px) {
    .card {
        width: calc(100% / 2 - 15px);
    }
}

@media(max-width:520px) {
    .card {
        width: 100%;
    }
}

.search {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid gray;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    max-width: 330px;
    width: 100%;
    display: block;
}

.aside {
    max-width: 320px;
    width: 18%;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    overflow: auto;
    top: 0;

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 160px;
    }

    &__nav {
        margin-bottom: 40px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 13px 16px;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 5px;
        text-decoration: none;
        color: $font;
        border-radius: 10px;
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;

        &--active {
            background: linear-gradient(90deg, #E7E9F5 0%, #E8EAF5 11%, rgba(255, 255, 255, 0) 82.22%);
            border-radius: 10px;
            position: relative;

            &::before {
                display: block;
                position: absolute;
                left: 0px;
                content: "";
                border-radius: 10px 0 0 10px;
                height: 100%;
                width: 8px;
                background-color: $purple;
            }
        }
    }
}

.account {
    text-align: center;
    margin-bottom: 50px;

    &__name {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 8px;
    }

    &__email {
        color: $subtitleGray;
    }

    &__avatar {
        margin-left: auto;
        margin-right: auto;
    }

    &__login {
        color: $purple;
        font-weight: 600;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main {
    padding: 40px 30px;
    width: 82%;

    &__wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        height: 100%;
        gap: 40px;
        justify-content: center;
    }
}

.form {
    background-color: #fff;
    max-width: 550px;
    width: 50%;
    padding: 70px 3vw;
    border-radius: 10px;

    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__info {
        padding: 20px 16px;
        border-radius: 10px;
        color: #fff;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;

        &--success {
            background-color: $success;
        }

        &--error {
            background-color: $error;
        }
    }

    &__btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }

    &__message {
        text-align: center;
        margin-top: 43px;
        color: $subtitleGray;
    }

    &__link {
        color: $subtitleGray;
        font-weight: 600;
        text-decoration: none;
    }

    &__input {
        border: none;
        display: block;
        width: 100%;
        max-width: 380px;
        padding: 12px 20px;
        border-bottom: 1px solid $subtitleGray;
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__title {
        margin-top: 60px;
    }
}